@model List<TrashCollector.Models.Adress>
@{
    if (!Request.IsAuthenticated)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:7px;">
    <a class="navbar-brand" href="">David's Trash Collection</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Employee")">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LogOff", "Account")">logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">ZipCode</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Address</td><td>@item.City</td><td>@item.State</td><td>@item.ZipCode</td>
            </tr>
        }
    </table>
</div>